
body {
    background-color: aqua;
    height: 100vh;
  }
  .flex-container {
    display: flex;
    width: 100%;
    
  }
  .aside {
    background-color: lightgreen;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
  }
  /* .game-title {
    text-align: left;
  } */

  .instructions-wraper {
    width: 14rem;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .instructions { 
    text-align: center;
  }
  .button-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play {
    width:80px;
    height: 40px;
  }

  .main {
    background-image: url("/img/origbig.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    width: 75%;
    margin-left: auto;
    border: 5px solid black;
    position: relative;
  }
  .samurai-one {
    background-image: url('/img/Walk.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 100px;
    position: absolute;
    left: 20rem;
    top: 20rem;
  }

  .samurai-two {
    background-image: url('/img/cWalk.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 100px;
    position: relative;
    left: 30rem;
    top: 14.3rem
  }

.textbox-one {
    position: relative;
    left: 28rem;
    top: 18.5rem;
    background-color: black;
    color: white;
    width: 70px;
    border-radius: 25%;
    font-size: 10px;
    text-align: center;
    border: 1px solid white;
}
.textbox-two {
    position: relative;
    left: 18rem;
    top: 17rem;
    background-color: black;
    color: white;
    width: 70px;
    border-radius: 25%;
    font-size: 10px;
    text-align: center;
    border: 1px solid white;
}

 
  
.footer {
    background-color: lightgreen;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgoldenrodyellow;
    width: 7rem;
    height: 5rem;
    border: 3px solid orange;
    border-radius: 2rem;
}

